[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
flask-marshmallow = "*"
flask-bcrypt = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]
ipdb = "*"
faker = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
